#line_block {
    width: 210px;
    background: #f1f1f1;
    float: left;
    margin: 0 15px 15px 0;
    text-align: center;
    padding: 10px;
}

#line_block2 {
    width: 810px;
    background: #f1f1f1;
    float: left;
    margin: 0 15px 15px 0;
    text-align: center;
    padding: 10px;
}

.item {
    padding: 10px;
    color: #600;
    font: bold 18px/18px helvetica, verdana, sans-serif;
}